@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-dark-clr: #141a22;
  --color-card-clr: #1f2630;
  --color-hover-clr: #0d121a;
}

html {
  scroll-behavior: smooth;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #746f6f inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #9a9881 inset !important;
}

.dark input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #171010 inset !important;
  -webkit-box-shadow: 0 0 0px 1000px #171010 inset !important;
  -webkit-text-fill-color: #e5e7eb !important;
}
